/* Imports */
/* B2B Capital Colors */
/* B2B Capital Colors */
/* B2B Capital Colors Names */
/* B2B Capital Fonts */
/******************** Montserrat Fonts ********************/
/* Montserrat Extra Light Font */
@font-face {
  font-family: "MontserratExtraLight";
  src: url("../../../assets/fonts/Montserrat/ExtraLight/Montserrat-ExtraLight.woff") format("woff"), url("../../../assets/fonts/Montserrat/ExtraLight/Montserrat-ExtraLight.woff2") format("woff2");
}
/* Montserrat Light Font */
@font-face {
  font-family: "MontserratLight";
  src: url("../../../assets/fonts/Montserrat/Light/Montserrat-Light.woff") format("woff"), url("../../../assets/fonts/Montserrat/Light/Montserrat-Light.woff2") format("woff2");
}
/* Montserrat Regular Font */
@font-face {
  font-family: "MontserratRegular";
  src: url("../../../assets/fonts/Montserrat/Regular/Montserrat-Regular.woff") format("woff"), url("../../../assets/fonts/Montserrat/Regular/Montserrat-Regular.woff2") format("woff2");
}
/* Montserrat Medium Font */
@font-face {
  font-family: "MontserratMedium";
  src: url("../../../assets/fonts/Montserrat/Medium/Montserrat-Medium.woff") format("woff"), url("../../../assets/fonts/Montserrat/Medium/Montserrat-Medium.woff2") format("woff2");
}
/* Montserrat Semi Bold Font */
@font-face {
  font-family: "MontserratSemiBold";
  src: url("../../../assets/fonts/Montserrat/SemiBold/Montserrat-SemiBold.woff") format("woff"), url("../../../assets/fonts/Montserrat/SemiBold/Montserrat-SemiBold.woff2") format("woff2");
}
/* Montserrat Bold Font */
@font-face {
  font-family: "MontserratBold";
  src: url("../../../assets/fonts/Montserrat/Bold/Montserrat-Bold.woff") format("woff"), url("../../../assets/fonts/Montserrat/Bold/Montserrat-Bold.woff2") format("woff2");
}
/******************** Space Grotesk Fonts ********************/
/* Space Grotesk Light Font */
@font-face {
  font-family: "SpaceGroteskLight";
  src: url("../../../assets/fonts/SpaceGrotesk/Light/SpaceGrotesk-Light.woff") format("woff"), url("../../../assets/fonts/SpaceGrotesk/Light/SpaceGrotesk-Light.woff2") format("woff2");
}
/* Space Grotesk Regular Font */
@font-face {
  font-family: "SpaceGroteskRegular";
  src: url("../../../assets/fonts/SpaceGrotesk/Regular/SpaceGrotesk-Regular.woff") format("woff"), url("../../../assets/fonts/SpaceGrotesk/Regular/SpaceGrotesk-Regular.woff2") format("woff2");
}
/* Space Grotesk Medium Font */
@font-face {
  font-family: "SpaceGroteskMedium";
  src: url("../../../assets/fonts/SpaceGrotesk/Medium/SpaceGrotesk-Medium.woff") format("woff"), url("../../../assets/fonts/SpaceGrotesk/Medium/SpaceGrotesk-Medium.woff2") format("woff2");
}
/* Space Grotesk Bold Font */
@font-face {
  font-family: "SpaceGroteskBold";
  src: url("../../../assets/fonts/SpaceGrotesk/Bold/SpaceGrotesk-Bold.woff") format("woff"), url("../../../assets/fonts/SpaceGrotesk/Bold/SpaceGrotesk-Bold.woff2") format("woff2");
}
/******************** Tajawal Font ********************/
/* Tajawal Regular Font */
@font-face {
  font-family: "TajawalRegular";
  src: url("../../../assets/fonts/Tajawal/Regular/Tajawal-Regular.woff") format("woff"), url("../../../assets/fonts/Tajawal/Regular/Tajawal-Regular.woff2") format("woff2");
}
/* Tajawal Medium Font */
@font-face {
  font-family: "TajawalMedium";
  src: url("../../../assets/fonts/Tajawal/Medium/Tajawal-Medium.woff") format("woff"), url("../../../assets/fonts/Tajawal/Medium/Tajawal-Medium.woff2") format("woff2");
}
/* Tajawal Bold Font */
@font-face {
  font-family: "TajawalBold";
  src: url("../../../assets/fonts/Tajawal/Bold/Tajawal-Bold.woff") format("woff"), url("../../../assets/fonts/Tajawal/Bold/Tajawal-Bold.woff2") format("woff2");
}
/* Montserrat Font Family */
/* Space Grotesk Font Family */
/* Tajawal Font Family */
/* B2B Capital Mixins */
/* Screen Sizes */
/* B2B Capital Button Styles Start Here */
.bbc-btn {
  padding: 0.75rem 1.5rem;
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
  font-family: "SpaceGroteskMedium", sans-serif !important;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.bbc-btn:hover {
  text-decoration: none;
}
.bbc-btn:focus {
  outline: none;
}
.bbc-btn.apply {
  background-color: #0E9CFB;
}
.bbc-btn.apply:hover {
  background-color: #0380d3;
}
.bbc-btn.cancel {
  background-color: #E11F26;
}
.bbc-btn.cancel:hover {
  background-color: #b5181e;
}
.bbc-btn.outline {
  border-radius: 0.125rem;
}
.bbc-btn.outline.success {
  color: #58BD7D;
  border-color: #58BD7D;
}
.bbc-btn.outline.success:hover {
  color: #FFFFFF;
  background-color: #58BD7D;
}
.bbc-btn.outline.action {
  color: #0E9CFB;
  border-color: #0E9CFB;
}
.bbc-btn.outline.action:hover {
  color: #FFFFFF;
  background-color: #0E9CFB;
}
.bbc-btn:disabled {
  color: #727279;
  border-color: #727279;
  background-color: transparent;
}
.bbc-btn:disabled:hover {
  cursor: context-menu;
  background-color: transparent;
}
.bbc-btn.large {
  width: 100%;
  padding: 0.75rem 0.75rem;
}
@media only screen and (min-width: 1680px) {
  .bbc-btn.large {
    padding: 1.25rem 1.25rem;
  }
}
.bbc-btn.medium {
  padding: 0.5rem 2rem;
}
.bbc-btn.small {
  width: -moz-fit-content;
  width: fit-content;
  display: table;
}
.bbc-btn.has-icon {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}

/* B2B Capital Button Arabic Styles Start Here */
.rtl .bbc-btn {
  font-family: "TajawalRegular", sans-serif !important;
}

/* B2B Capital Colors */
/* B2B Capital Colors Names */
.pt-6 {
  padding-top: 75px !important;
}

.pb-6 {
  padding-bottom: 75px !important;
}

.py-6 {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}

.px-6 {
  padding-right: 75px !important;
  padding-left: 75px !important;
}

@media only screen and (min-width: 1200px) {
  .pt-xl-6 {
    padding-top: 75px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .pb-xl-6 {
    padding-bottom: 75px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .py-xl-6 {
    padding-top: 75px !important;
    padding-bottom: 75px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .px-xl-6 {
    padding-right: 75px !important;
    padding-left: 75px !important;
  }
}

.mt-6 {
  margin-top: 75px !important;
}

.mb-6 {
  margin-bottom: 75px !important;
}

.my-6 {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}

.mx-6 {
  margin-right: 75px !important;
  margin-left: 75px !important;
}

@media only screen and (min-width: 1200px) {
  .mt-xl-6 {
    margin-top: 75px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .mb-xl-6 {
    margin-bottom: 75px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .my-xl-6 {
    margin-top: 75px !important;
    margin-bottom: 75px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .mx-xl-6 {
    margin-right: 75px !important;
    margin-left: 75px !important;
  }
}

/******************** Montserrat Fonts ********************/
/* Montserrat Extra Light Font */
@font-face {
  font-family: "MontserratExtraLight";
  src: url("../../../assets/fonts/Montserrat/ExtraLight/Montserrat-ExtraLight.woff") format("woff"), url("../../../assets/fonts/Montserrat/ExtraLight/Montserrat-ExtraLight.woff2") format("woff2");
}
/* Montserrat Light Font */
@font-face {
  font-family: "MontserratLight";
  src: url("../../../assets/fonts/Montserrat/Light/Montserrat-Light.woff") format("woff"), url("../../../assets/fonts/Montserrat/Light/Montserrat-Light.woff2") format("woff2");
}
/* Montserrat Regular Font */
@font-face {
  font-family: "MontserratRegular";
  src: url("../../../assets/fonts/Montserrat/Regular/Montserrat-Regular.woff") format("woff"), url("../../../assets/fonts/Montserrat/Regular/Montserrat-Regular.woff2") format("woff2");
}
/* Montserrat Medium Font */
@font-face {
  font-family: "MontserratMedium";
  src: url("../../../assets/fonts/Montserrat/Medium/Montserrat-Medium.woff") format("woff"), url("../../../assets/fonts/Montserrat/Medium/Montserrat-Medium.woff2") format("woff2");
}
/* Montserrat Semi Bold Font */
@font-face {
  font-family: "MontserratSemiBold";
  src: url("../../../assets/fonts/Montserrat/SemiBold/Montserrat-SemiBold.woff") format("woff"), url("../../../assets/fonts/Montserrat/SemiBold/Montserrat-SemiBold.woff2") format("woff2");
}
/* Montserrat Bold Font */
@font-face {
  font-family: "MontserratBold";
  src: url("../../../assets/fonts/Montserrat/Bold/Montserrat-Bold.woff") format("woff"), url("../../../assets/fonts/Montserrat/Bold/Montserrat-Bold.woff2") format("woff2");
}
/******************** Space Grotesk Fonts ********************/
/* Space Grotesk Light Font */
@font-face {
  font-family: "SpaceGroteskLight";
  src: url("../../../assets/fonts/SpaceGrotesk/Light/SpaceGrotesk-Light.woff") format("woff"), url("../../../assets/fonts/SpaceGrotesk/Light/SpaceGrotesk-Light.woff2") format("woff2");
}
/* Space Grotesk Regular Font */
@font-face {
  font-family: "SpaceGroteskRegular";
  src: url("../../../assets/fonts/SpaceGrotesk/Regular/SpaceGrotesk-Regular.woff") format("woff"), url("../../../assets/fonts/SpaceGrotesk/Regular/SpaceGrotesk-Regular.woff2") format("woff2");
}
/* Space Grotesk Medium Font */
@font-face {
  font-family: "SpaceGroteskMedium";
  src: url("../../../assets/fonts/SpaceGrotesk/Medium/SpaceGrotesk-Medium.woff") format("woff"), url("../../../assets/fonts/SpaceGrotesk/Medium/SpaceGrotesk-Medium.woff2") format("woff2");
}
/* Space Grotesk Bold Font */
@font-face {
  font-family: "SpaceGroteskBold";
  src: url("../../../assets/fonts/SpaceGrotesk/Bold/SpaceGrotesk-Bold.woff") format("woff"), url("../../../assets/fonts/SpaceGrotesk/Bold/SpaceGrotesk-Bold.woff2") format("woff2");
}
/******************** Tajawal Font ********************/
/* Tajawal Regular Font */
@font-face {
  font-family: "TajawalRegular";
  src: url("../../../assets/fonts/Tajawal/Regular/Tajawal-Regular.woff") format("woff"), url("../../../assets/fonts/Tajawal/Regular/Tajawal-Regular.woff2") format("woff2");
}
/* Tajawal Medium Font */
@font-face {
  font-family: "TajawalMedium";
  src: url("../../../assets/fonts/Tajawal/Medium/Tajawal-Medium.woff") format("woff"), url("../../../assets/fonts/Tajawal/Medium/Tajawal-Medium.woff2") format("woff2");
}
/* Tajawal Bold Font */
@font-face {
  font-family: "TajawalBold";
  src: url("../../../assets/fonts/Tajawal/Bold/Tajawal-Bold.woff") format("woff"), url("../../../assets/fonts/Tajawal/Bold/Tajawal-Bold.woff2") format("woff2");
}
/* Montserrat Font Family */
/* Space Grotesk Font Family */
/* Tajawal Font Family */
/* Screen Sizes */
/* B2B Capital Colors */
/* B2B Capital Colors */
/* B2B Capital Colors Names */
/* B2B Capital Fonts */
/******************** Montserrat Fonts ********************/
/* Montserrat Extra Light Font */
@font-face {
  font-family: "MontserratExtraLight";
  src: url("../../../assets/fonts/Montserrat/ExtraLight/Montserrat-ExtraLight.woff") format("woff"), url("../../../assets/fonts/Montserrat/ExtraLight/Montserrat-ExtraLight.woff2") format("woff2");
}
/* Montserrat Light Font */
@font-face {
  font-family: "MontserratLight";
  src: url("../../../assets/fonts/Montserrat/Light/Montserrat-Light.woff") format("woff"), url("../../../assets/fonts/Montserrat/Light/Montserrat-Light.woff2") format("woff2");
}
/* Montserrat Regular Font */
@font-face {
  font-family: "MontserratRegular";
  src: url("../../../assets/fonts/Montserrat/Regular/Montserrat-Regular.woff") format("woff"), url("../../../assets/fonts/Montserrat/Regular/Montserrat-Regular.woff2") format("woff2");
}
/* Montserrat Medium Font */
@font-face {
  font-family: "MontserratMedium";
  src: url("../../../assets/fonts/Montserrat/Medium/Montserrat-Medium.woff") format("woff"), url("../../../assets/fonts/Montserrat/Medium/Montserrat-Medium.woff2") format("woff2");
}
/* Montserrat Semi Bold Font */
@font-face {
  font-family: "MontserratSemiBold";
  src: url("../../../assets/fonts/Montserrat/SemiBold/Montserrat-SemiBold.woff") format("woff"), url("../../../assets/fonts/Montserrat/SemiBold/Montserrat-SemiBold.woff2") format("woff2");
}
/* Montserrat Bold Font */
@font-face {
  font-family: "MontserratBold";
  src: url("../../../assets/fonts/Montserrat/Bold/Montserrat-Bold.woff") format("woff"), url("../../../assets/fonts/Montserrat/Bold/Montserrat-Bold.woff2") format("woff2");
}
/******************** Space Grotesk Fonts ********************/
/* Space Grotesk Light Font */
@font-face {
  font-family: "SpaceGroteskLight";
  src: url("../../../assets/fonts/SpaceGrotesk/Light/SpaceGrotesk-Light.woff") format("woff"), url("../../../assets/fonts/SpaceGrotesk/Light/SpaceGrotesk-Light.woff2") format("woff2");
}
/* Space Grotesk Regular Font */
@font-face {
  font-family: "SpaceGroteskRegular";
  src: url("../../../assets/fonts/SpaceGrotesk/Regular/SpaceGrotesk-Regular.woff") format("woff"), url("../../../assets/fonts/SpaceGrotesk/Regular/SpaceGrotesk-Regular.woff2") format("woff2");
}
/* Space Grotesk Medium Font */
@font-face {
  font-family: "SpaceGroteskMedium";
  src: url("../../../assets/fonts/SpaceGrotesk/Medium/SpaceGrotesk-Medium.woff") format("woff"), url("../../../assets/fonts/SpaceGrotesk/Medium/SpaceGrotesk-Medium.woff2") format("woff2");
}
/* Space Grotesk Bold Font */
@font-face {
  font-family: "SpaceGroteskBold";
  src: url("../../../assets/fonts/SpaceGrotesk/Bold/SpaceGrotesk-Bold.woff") format("woff"), url("../../../assets/fonts/SpaceGrotesk/Bold/SpaceGrotesk-Bold.woff2") format("woff2");
}
/******************** Tajawal Font ********************/
/* Tajawal Regular Font */
@font-face {
  font-family: "TajawalRegular";
  src: url("../../../assets/fonts/Tajawal/Regular/Tajawal-Regular.woff") format("woff"), url("../../../assets/fonts/Tajawal/Regular/Tajawal-Regular.woff2") format("woff2");
}
/* Tajawal Medium Font */
@font-face {
  font-family: "TajawalMedium";
  src: url("../../../assets/fonts/Tajawal/Medium/Tajawal-Medium.woff") format("woff"), url("../../../assets/fonts/Tajawal/Medium/Tajawal-Medium.woff2") format("woff2");
}
/* Tajawal Bold Font */
@font-face {
  font-family: "TajawalBold";
  src: url("../../../assets/fonts/Tajawal/Bold/Tajawal-Bold.woff") format("woff"), url("../../../assets/fonts/Tajawal/Bold/Tajawal-Bold.woff2") format("woff2");
}
/* Montserrat Font Family */
/* Space Grotesk Font Family */
/* Tajawal Font Family */
/* B2B Capital Screen Size */
/* Screen Sizes */
/* B2B Capital Animations */
/* B2B Capital Animations Styles Start Here */
@keyframes bounce {
  0% {
    transform: translateX(0px);
    animation-timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    animation-timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    animation-timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    animation-timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    animation-timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    animation-timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    animation-timing-function: ease-in;
  }
}
@keyframes scaleDown {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes arrowEnglishSliding {
  0% {
    opacity: 0;
    transform: translateX(-5px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(15px);
  }
}
@keyframes arrowArabicSliding {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-15px);
  }
}
@keyframes arrowEnglishMove {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}
@keyframes arrowArabicMove {
  0%, 100% {
    transform: translateX(40px) scaleX(-1);
  }
  50% {
    transform: translateX(20px) scaleX(-1);
  }
}
i[class^=bbc-], i[class*=" bbc-"] {
  transition: all 0.2s ease-in-out;
}

/* Forms Styles Start Here */
.form-field {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  margin: 0.9rem 0 0;
}
@media only screen and (min-width: 1680px) {
  .form-field {
    margin: 1.5rem 0 0;
  }
}
.form-field.pl-3 {
  padding-left: 1rem;
}
.form-field.pr-3 {
  padding-right: 1rem;
}
.form-field .form-control-has-icon {
  position: relative;
}
.form-field .form-control-has-icon .icon-show-password,
.form-field .form-control-has-icon i[class^=bbc-],
.form-field .form-control-has-icon i[class*=" bbc-"] {
  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #FFFFFF;
  padding: 0.3rem;
  border-radius: 2px;
  color: #0E9CFB;
}
.form-field .form-control-has-icon .icon-show-password {
  left: initial;
  right: 0.8rem;
  background-color: transparent;
}
.form-field .form-control-has-icon .icon-show-password .icon-container {
  position: relative;
}
.form-field .form-control-has-icon .icon-show-password i[class^=bbc-],
.form-field .form-control-has-icon .icon-show-password i[class*=" bbc-"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  transform: initial;
  visibility: hidden;
  backface-visibility: hidden;
  background-color: transparent;
}
.form-field .form-control-has-icon .icon-show-password i[class^=bbc-].active,
.form-field .form-control-has-icon .icon-show-password i[class*=" bbc-"].active {
  z-index: 12;
  visibility: visible;
  backface-visibility: visible;
}
.form-field .form-control-has-icon .form-control {
  padding: 1rem 2rem 1rem 3rem;
}
.form-field .form-control-label {
  color: #071B2E;
  line-height: 1rem;
  font-size: 1rem;
  font-family: "SpaceGroteskMedium", sans-serif;
  margin-bottom: 0.5rem;
}
.form-field .form-control {
  margin: 0;
  height: auto;
  padding: 1rem 2rem;
  color: #071B2E;
  font-size: 0.8rem;
  font-family: "SpaceGroteskLight", sans-serif;
  border-radius: 3px;
  border: none;
  background-color: #F5F7F9;
}
@media only screen and (min-width: 1680px) {
  .form-field .form-control {
    padding: 0.75rem 0;
    font-size: 1.1rem;
  }
}
.form-field .form-control:focus {
  box-shadow: none;
}
.form-field .error-message {
  display: none;
  width: 100%;
  position: absolute;
  bottom: -0.25rem;
  color: #E11F26;
  font-size: 0.75rem;
  font-family: "MontserratRegular", sans-serif;
}
.form-field .error-message .message {
  width: 100%;
  display: block;
}
.form-field .error-message .message + .message {
  position: absolute;
}
.form-field.filled .form-control-label {
  display: none;
}
.form-field.has-error {
  animation: bounce 0.5s;
  animation-delay: 0.25s;
}
.form-field.has-error .form-control-label {
  display: inline-block;
  color: #E11F26;
}
.form-field.has-error .form-control {
  outline: 0;
  border-color: red;
  border-bottom: 1px solid #E11F26;
}
.form-field.has-error .error-message {
  display: inline-block;
}

.form-check,
.form-check-label,
.form-check-input {
  cursor: pointer;
}

/* Forms Arabic Styles Start Here */
.rtl .form-field .form-control-label {
  left: auto;
  right: 0;
  font-family: "TajawalRegular", sans-serif;
}
.rtl .form-field .form-control {
  font-family: "TajawalRegular", sans-serif;
}
.rtl .form-field.has-error .error-message {
  font-family: "TajawalRegular", sans-serif;
}

/* Placeholder Styles Start Here */
::-moz-placeholder {
  color: #727279;
  opacity: 1; /* Firefox */
}
::placeholder {
  color: #727279;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #727279;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #727279;
}

.nh_form .form-control:focus {
  outline: none;
  box-shadow: 0 1px 7px 1px rgba(0, 123, 255, 0.25);
}
.nh_form .ninja-input-wrapper {
  margin-bottom: 5px;
}
.nh_form .ninja-input-wrapper label {
  font-size: 18px;
  margin-bottom: 0;
}
.nh_form .ninja-input-wrapper .ninja-input {
  height: 36px;
  font-size: 16px;
}
.nh_form .ninja-input-wrapper .text-muted {
  font-size: 12px;
}
.nh_form .form-check {
  padding-left: 0;
  padding-right: 0;
}
.nh_form .form-check .ninja-checkbox {
  height: auto;
  display: inline-block;
  width: auto;
}
.nh_form .ninja-btn {
  border-radius: 0;
  font-size: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
}

/* B2B Capital Animations Styles Start Here */
@keyframes bounce {
  0% {
    transform: translateX(0px);
    animation-timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    animation-timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    animation-timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    animation-timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    animation-timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    animation-timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    animation-timing-function: ease-in;
  }
}
@keyframes scaleDown {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes arrowEnglishSliding {
  0% {
    opacity: 0;
    transform: translateX(-5px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(15px);
  }
}
@keyframes arrowArabicSliding {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-15px);
  }
}
@keyframes arrowEnglishMove {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}
@keyframes arrowArabicMove {
  0%, 100% {
    transform: translateX(40px) scaleX(-1);
  }
  50% {
    transform: translateX(20px) scaleX(-1);
  }
}
i[class^=bbc-], i[class*=" bbc-"] {
  transition: all 0.2s ease-in-out;
}

/* Some Resets */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a:link, a:hover, a:visited, a:active {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* HTML Styles Start Here */
html {
  width: 100vw;
  height: 100vh;
  font-size: 10px;
}
@media only screen and (min-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

/* Body Styles Start Here */
body {
  direction: ltr;
  min-width: 320px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  color: #F5F5F5;
  line-height: 1.5;
  font-family: "MontserratRegular", sans-serif;
  /* Body Arabic Styles Start Here */
}
body .index-page-content {
  width: 70vw;
  margin: 5rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .index-page-content .index-navigation {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
body .index-page-content .index-navigation .navbar-nav .nav-item.head {
  margin-bottom: 1rem;
}
body .index-page-content .index-navigation .navbar-nav .nav-item.head {
  color: #082e4c;
  font-family: "MontserratBold", sans-serif;
}
body .index-page-content .index-navigation .navbar-nav .nav-item .nav-link {
  color: #0E9CFB;
  font-family: "MontserratRegular", sans-serif;
}
body.rtl {
  direction: rtl;
  text-align: right;
}
body.rtl .page-title {
  font-family: "TajawalMedium", sans-serif;
}
body.rtl .page-subtitle {
  font-family: "TajawalRegular", sans-serif;
}
body.rtl .home-link {
  font-family: "TajawalRegular", sans-serif;
}

/***** All Scrollbars Styles Start Here *****/
/* Any Scrollbar Width & Height */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Any Scrollbar Track Color */
::-webkit-scrollbar-track {
  background: rgba(114, 114, 121, 0.25);
}

/* Vertical Scrollbar Handle Color */
::-webkit-scrollbar-thumb {
  background: #0E9CFB;
}

/* Vertical Scrollbar Handle Color On Hover */
::-webkit-scrollbar-thumb:hover {
  background: #0370b9;
}

/* Horizontal Scrollbar Handle Color */
.partners-logos::-webkit-scrollbar-thumb {
  background: #FE6500;
}

/* Horizontal Scrollbar Handle Color On Hover */
.partners-logos::-webkit-scrollbar-thumb:hover {
  background: #A64200;
}

/* Horizontal Scrollbar Handle Color */
.services-categories-content::-webkit-scrollbar-thumb {
  background: #FE6500;
}

/* Horizontal Scrollbar Handle Color On Hover */
.services-categories-content::-webkit-scrollbar-thumb:hover {
  background: #A64200;
}

/*****************************************************************/
.logos-row::-webkit-scrollbar-track {
  background: transparent;
}

.logos-row::-webkit-scrollbar-thumb {
  background: transparent;
}

.logos-row::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

/* Service Page Styles Start Here */
.service-content-wrapper {
  display: flex;
  /* Service Banner Styles Start Here */
  /* Service Content Styles Start Here */
}
.service-content-wrapper .service-banner-wrapper {
  min-width: 15vw;
  height: 100vh;
  margin: -9.625rem 0 0 -2rem;
}
@media only screen and (min-width: 1200px) {
  .service-content-wrapper .service-banner-wrapper {
    margin: -9.625rem 0 0 -3rem;
  }
}
.service-content-wrapper .service-banner-wrapper .service-banner {
  position: fixed;
  top: 0;
  left: calc(7rem + 2px);
}
@media only screen and (min-width: 1200px) {
  .service-content-wrapper .service-banner-wrapper .service-banner {
    left: calc(10rem + 2px);
  }
}
.service-content-wrapper .service-banner-wrapper .service-banner .back-link {
  display: flex;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 3.75rem;
  left: 1rem;
  color: #FFFFFF;
  font-size: 0.8rem;
  font-family: "MontserratMedium", sans-serif;
}
.service-content-wrapper .service-banner-wrapper .service-banner .back-link .icon {
  font-size: 1rem;
  margin-right: 0.5rem;
}
@media only screen and (min-width: 1200px) {
  .service-content-wrapper .service-banner-wrapper .service-banner .back-link {
    font-size: 0.9rem;
  }
  .service-content-wrapper .service-banner-wrapper .service-banner .back-link .icon {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1680px) {
  .service-content-wrapper .service-banner-wrapper .service-banner .back-link {
    top: 4.5rem;
    left: 2rem;
    font-size: 1.25rem;
  }
  .service-content-wrapper .service-banner-wrapper .service-banner .back-link .icon {
    font-size: 2rem;
  }
}
.service-content-wrapper .service-banner-wrapper .service-banner .banner {
  width: 15vw;
  height: 100vh;
  -o-object-fit: fill;
     object-fit: fill;
}
.service-content-wrapper .service-content {
  flex-grow: 1;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
  /* Service Details Styles Start Here */
  /* Service Subscription Form Styles Start Here */
}
@media only screen and (min-width: 1680px) {
  .service-content-wrapper .service-content {
    margin-left: 4rem;
  }
}
.service-content-wrapper .service-content .service-details {
  width: 47.5%;
}
.service-content-wrapper .service-content .service-details .service-title {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #FFFFFF;
}
.service-content-wrapper .service-content .service-details .service-title .title-icon {
  display: inline-block;
  width: 3.5rem;
  margin-right: 0.75rem;
}
.service-content-wrapper .service-content .service-details .service-title .splitter {
  display: inline-block;
  width: 1px;
  height: 3rem;
  margin-right: 0.75rem;
  background-color: rgba(114, 114, 121, 0.2);
}
.service-content-wrapper .service-content .service-details .service-title .title {
  color: #071B2E;
  font-size: 1rem;
  font-family: "MontserratBold", sans-serif;
}
@media only screen and (min-width: 1680px) {
  .service-content-wrapper .service-content .service-details .service-title {
    padding: 1rem 1.5rem 1rem 1rem;
  }
  .service-content-wrapper .service-content .service-details .service-title .title-icon {
    width: 4rem;
    margin-right: 1rem;
  }
  .service-content-wrapper .service-content .service-details .service-title .splitter {
    width: 2px;
    height: 3.5rem;
    margin-right: 1rem;
  }
  .service-content-wrapper .service-content .service-details .service-title .title {
    font-size: 2.25rem;
  }
}
.service-content-wrapper .service-content .service-details .service-subtitle {
  margin: 2rem 0 1rem;
  color: #0E9CFB;
  font-size: 1rem;
  font-family: "SpaceGroteskRegular", sans-serif;
}
@media only screen and (min-width: 1680px) {
  .service-content-wrapper .service-content .service-details .service-subtitle {
    margin: 3rem 0 1.25rem;
    font-size: 1.5rem;
  }
}
.service-content-wrapper .service-content .service-details .service-description {
  color: #FFFFFF;
  font-size: 0.8rem;
  font-family: "MontserratLight", sans-serif;
}
.service-content-wrapper .service-content .service-details .service-description + .service-description {
  margin-top: 1rem;
}
@media only screen and (min-width: 1680px) {
  .service-content-wrapper .service-content .service-details .service-description {
    font-size: 1rem;
  }
}
.service-content-wrapper .service-content .service-details .service-features .service-feature {
  color: #FFFFFF;
  display: flex;
}
.service-content-wrapper .service-content .service-details .service-features .service-feature .service-features-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  min-height: 2rem;
  margin-right: 1rem;
  font-size: 0.8rem;
  border-radius: 50%;
  border: 1px dashed #FFFFFF;
}
.service-content-wrapper .service-content .service-details .service-features .service-feature .service-feature-text {
  font-size: 0.8rem;
  font-family: "MontserratMedium", sans-serif;
}
.service-content-wrapper .service-content .service-details .service-features .service-feature + .service-feature {
  margin-top: 1rem;
}
@media only screen and (min-width: 1680px) {
  .service-content-wrapper .service-content .service-details .service-features .service-feature .service-features-number {
    width: 2.5rem;
    min-width: 2.5rem;
    height: 2.5rem;
    min-height: 2.5rem;
    margin-right: 1.5rem;
    font-size: 1rem;
  }
  .service-content-wrapper .service-content .service-details .service-features .service-feature .service-feature-text {
    font-size: 1rem;
  }
}
.service-content-wrapper .service-content .service-subscription-form {
  width: 47.5%;
  padding: 2rem 3rem;
  background-color: #082e4c;
  /* Form Title Styles Start Here */
  /* Time Slots Styles Start Here */
  /* Form Action Styles Start Here */
}
.service-content-wrapper .service-content .service-subscription-form .form-title {
  color: #FFFFFF;
  font-size: 1.75rem;
  font-family: "MontserratMedium", sans-serif;
}
.service-content-wrapper .service-content .service-subscription-form .time-slots {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid #727279;
}
@media only screen and (min-width: 1680px) {
  .service-content-wrapper .service-content .service-subscription-form .time-slots {
    padding-bottom: 2rem;
  }
}
.service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-title {
  margin-bottom: 0.75rem;
  color: #FFFFFF;
  font-size: 0.75rem;
  font-family: "SpaceGroteskMedium", sans-serif;
}
@media only screen and (min-width: 1680px) {
  .service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-title {
    margin-bottom: 1rem;
    font-size: 1.15rem;
  }
}
.service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group + .time-slots-group {
  margin-top: 0.75rem;
}
@media only screen and (min-width: 1680px) {
  .service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group + .time-slots-group {
    margin-top: 1.5rem;
  }
}
.service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot {
  width: 22%;
  text-align: center;
}
.service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .time-slot-details {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px dashed #727279;
}
@media only screen and (min-width: 1680px) {
  .service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .time-slot-details {
    padding: 1rem;
    border: 2px dashed #727279;
  }
}
.service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .time-slot-details:hover {
  cursor: pointer;
}
.service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .time-slot-details .date {
  margin-bottom: 0.25rem;
  color: #FFFFFF;
  font-size: 0.55rem;
  font-family: "MontserratRegular", sans-serif;
}
@media only screen and (min-width: 1200px) {
  .service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .time-slot-details .date {
    font-size: 0.65rem;
  }
}
@media only screen and (min-width: 1680px) {
  .service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .time-slot-details .date {
    font-size: 1rem;
  }
}
.service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .time-slot-details .time {
  font-size: 0.55rem;
  font-family: "MontserratSemiBold", sans-serif;
}
@media only screen and (min-width: 1200px) {
  .service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .time-slot-details .time {
    font-size: 0.65rem;
  }
}
@media only screen and (min-width: 1680px) {
  .service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .time-slot-details .time {
    font-size: 1rem;
  }
}
.service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .time-slot-details .time.from {
  color: #FE6500;
}
.service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .time-slot-details .time.to {
  color: #A64200;
}
.service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .form-check-input {
  display: none;
}
.service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .form-check-input:checked + .time-slot-details {
  border: 1px solid #58BD7D;
  background-color: #FFFFFF;
  position: relative;
}
@media only screen and (min-width: 1680px) {
  .service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .form-check-input:checked + .time-slot-details {
    border: 2px solid #58BD7D;
  }
}
.service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .form-check-input:checked + .time-slot-details::after {
  content: "\e91a";
  font-size: 0.65rem;
  font-family: B2BCapital, serif;
  color: #58BD7D;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}
@media only screen and (min-width: 1200px) {
  .service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .form-check-input:checked + .time-slot-details::after {
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 1680px) {
  .service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .form-check-input:checked + .time-slot-details::after {
    font-size: 1rem;
  }
}
.service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .form-check-input:checked + .time-slot-details .date {
  color: #727279;
}
.service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .form-check-input:checked + .time-slot-details .time {
  color: #071B2E;
}
.service-content-wrapper .service-content .service-subscription-form .form-action {
  margin-top: 2rem;
  text-transform: uppercase;
  font-family: "SpaceGroteskMedium", sans-serif;
}

/* Service Page Arabic Styles Start Here */
.rtl .service-content-wrapper {
  /* Service Banner Arabic Styles Start Here */
  /* Service Content Arabic Styles Start Here */
}
.rtl .service-content-wrapper .service-banner-wrapper {
  margin: -9.625rem -2rem 0 0;
}
@media only screen and (min-width: 1200px) {
  .rtl .service-content-wrapper .service-banner-wrapper {
    margin: -9.625rem -3rem 0 0;
  }
}
.rtl .service-content-wrapper .service-banner-wrapper .service-banner {
  left: auto;
  right: calc(7rem + 2px);
}
@media only screen and (min-width: 1200px) {
  .rtl .service-content-wrapper .service-banner-wrapper .service-banner {
    left: auto;
    right: calc(10rem + 2px);
  }
}
.rtl .service-content-wrapper .service-banner-wrapper .service-banner .back-link {
  left: auto;
  right: 1rem;
  font-family: "TajawalMedium", sans-serif;
}
.rtl .service-content-wrapper .service-banner-wrapper .service-banner .back-link .icon {
  margin-right: 0;
  margin-left: 0.5rem;
  transform: scaleX(-1);
}
@media only screen and (min-width: 1680px) {
  .rtl .service-content-wrapper .service-banner-wrapper .service-banner .back-link {
    left: auto;
    right: 2rem;
  }
}
.rtl .service-content-wrapper .service-banner-wrapper .service-banner .banner {
  transform: scaleX(-1);
}
.rtl .service-content-wrapper .service-content {
  margin-left: 0;
  margin-right: 2rem;
  /* Service Details Arabic Styles Start Here */
  /* Service Subscription Form Arabic Styles Start Here */
}
@media only screen and (min-width: 1680px) {
  .rtl .service-content-wrapper .service-content {
    margin-left: 0;
    margin-right: 4rem;
  }
}
.rtl .service-content-wrapper .service-content .service-details .service-title {
  padding: 0.5rem 0.75rem 0.5rem 1rem;
}
.rtl .service-content-wrapper .service-content .service-details .service-title .title-icon {
  margin-right: 0;
  margin-left: 0.75rem;
}
.rtl .service-content-wrapper .service-content .service-details .service-title .splitter {
  margin-right: 0;
  margin-left: 0.75rem;
}
.rtl .service-content-wrapper .service-content .service-details .service-title .title {
  font-family: "TajawalBold", sans-serif;
}
@media only screen and (min-width: 1680px) {
  .rtl .service-content-wrapper .service-content .service-details .service-title {
    padding: 1rem 1rem 1rem 1.5rem;
  }
  .rtl .service-content-wrapper .service-content .service-details .service-title .title-icon {
    margin-right: 0;
    margin-left: 1rem;
  }
  .rtl .service-content-wrapper .service-content .service-details .service-title .splitter {
    margin-right: 0;
    margin-left: 1rem;
  }
}
.rtl .service-content-wrapper .service-content .service-details .service-subtitle {
  font-family: "TajawalRegular", sans-serif;
}
.rtl .service-content-wrapper .service-content .service-details .service-description {
  font-family: "TajawalRegular", sans-serif;
}
.rtl .service-content-wrapper .service-content .service-details .service-features .service-feature .service-features-number {
  margin-right: 0;
  margin-left: 1rem;
}
.rtl .service-content-wrapper .service-content .service-details .service-features .service-feature .service-feature-text {
  font-family: "TajawalMedium", sans-serif;
}
@media only screen and (min-width: 1680px) {
  .rtl .service-content-wrapper .service-content .service-details .service-features .service-feature .service-features-number {
    margin-right: 0;
    margin-left: 1.5rem;
  }
}
.rtl .service-content-wrapper .service-content .service-subscription-form {
  /* Form Title Arabic Styles Start Here */
  /* Time Slots Arabic Styles Start Here */
  /* Form Action Arabic Styles Start Here */
}
.rtl .service-content-wrapper .service-content .service-subscription-form .form-title {
  font-family: "TajawalMedium", sans-serif;
}
.rtl .service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-title {
  font-family: "TajawalMedium", sans-serif;
}
.rtl .service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .time-slot-details .date {
  font-family: "TajawalRegular", sans-serif;
}
.rtl .service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .time-slot-details .time {
  font-family: "TajawalBold", sans-serif;
}
.rtl .service-content-wrapper .service-content .service-subscription-form .time-slots .time-slots-group .time-slot .form-check-input:checked + .time-slot-details::after {
  right: auto;
  left: 0.25rem;
}
.rtl .service-content-wrapper .service-content .service-subscription-form .form-action {
  font-family: "TajawalMedium", sans-serif;
}