.nh_form .form-control:focus {
  outline: none;
  box-shadow: 0 1px 7px 1px rgba(0, 123, 255, 0.25);
}
.nh_form .ninja-input-wrapper {
  margin-bottom: 5px;
}
.nh_form .ninja-input-wrapper label {
  font-size: 18px;
  margin-bottom: 0;
}
.nh_form .ninja-input-wrapper .ninja-input {
  height: 36px;
  font-size: 16px;
}
.nh_form .ninja-input-wrapper .text-muted {
  font-size: 12px;
}
.nh_form .form-check {
  padding-left: 0;
  padding-right: 0;
}
.nh_form .form-check .ninja-checkbox {
  height: auto;
  display: inline-block;
  width: auto;
}
.nh_form .ninja-btn {
  border-radius: 0;
  font-size: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.ninja-login-form {
  width: 360px;
  margin: 30px auto;
}
.ninja-login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.ninja-login-form h2 {
  margin: 0 0 15px;
}
.ninja-login-form .nh_form .form-bottom {
  font-size: 16px;
}
.ninja-login-form .nh_form .form-bottom p {
  margin: 0;
}

.ninja-registration-form {
  width: 720px;
  margin: 50px auto;
}
.ninja-registration-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.ninja-registration-form h2 {
  margin: 0 0 15px;
}
.ninja-registration-form .nh_form .form-bottom {
  font-size: 16px;
}
.ninja-registration-form .nh_form .form-bottom p {
  margin: 0;
}